<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
 
 <!-- 测试spring的配置属性 -->
 <bean id="theTestSpringXML" class="test.TheTestSpringXML">
 	<property name="mapValue">
 		<map>
 			<entry key="strValueKey" value="lichencai"></entry>
 			<entry key="obj">
 				<ref bean="testObject"/>
 			</entry>
 			<entry key="lst">
 				<list>
 					<value>stringValue1</value>
					<value>stringValue2</value>
 				</list>
 			</entry>
 		</map>
 	</property>
 </bean>
 <bean name="testObject" class="test.TestObject"></bean>
 
 </beans>